In [5]:
import numpy as np
import pandas as pd
import re
import seaborn as sns
import matplotlib.pyplot as plt

In [13]:
data=pd.read_csv('zomato.csv', encoding='latin1')
data.describe()

,Restaurant ID,Country Code,Longitude,Latitude,Average Cost for two,Price range,Aggregate rating,Votes
count,9.551000e+03,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000
mean,9.051128e+06,18.365616,64.126574,25.854381,1199.210763,1.804837,2.666370,156.909748
std,8.791521e+06,56.750546,41.467058,11.007935,16121.183073,0.905609,1.516378,430.169145
min,5.300000e+01,1.000000,-157.948486,-41.330428,0.000000,1.000000,0.000000,0.000000
25%,3.019625e+05,1.000000,77.081343,28.478713,250.000000,1.000000,2.500000,5.000000
50%,6.004089e+06,1.000000,77.191964,28.570469,400.000000,2.000000,3.200000,31.000000
75%,1.835229e+07,1.000000,77.282006,28.642758,700.000000,2.000000,3.700000,131.000000
max,1.850065e+07,216.000000,174.832089,55.976980,800000.000000,4.000000,4.900000,10934.000000

In [23]:
is_indian_restaurants=data['Country Code']==1
is_indian_restaurants.describe()

count     9551
unique       2
top       True
freq      8652
Name: Country Code, dtype: object

In [27]:
indian = data[is_indian_restaurants]
indian.shape

(8652, 21)

In [36]:
is_delhi = data['City']=='New Delhi'
delhi_restaurants = indian[is_delhi]
delhi_restaurants.shape

C:\Users\taghos\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

(5473, 21)

In [34]:
data.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [41]:
#Extracting only the relevant columns
data_minimal=delhi_restaurants[['Restaurant Name', 'Cuisines', 'Average Cost for two', 'Locality', 'Aggregate rating']]
data_minimal

,Restaurant Name,Cuisines,Average Cost for two,Locality,Aggregate rating
2560,Food Cloud,Cuisine Varies,500,Aaya Nagar,0.0
2561,Burger.in,Fast Food,350,Adchini,3.2
2562,Days of the Raj,"North Indian, Seafood, Continental",1500,Adchini,3.4
2563,Dilli Ka Dhaba,"South Indian, North Indian",500,Adchini,2.6
2564,Govardhan,"South Indian, North Indian, Chinese",500,Adchini,3.4
2565,Mezbaan Grills,Mughlai,400,Adchini,3.1
2566,Say Cheese,Fast Food,400,Adchini,2.7
2567,Southy,South Indian,450,Adchini,2.6
2568,Monosoz,Pizza,300,Adchini,3.7
2569,Waves,"North Indian, Chinese",1500,Adchini,3.5
2570,Delhi Darbar,"Chinese, North Indian",500,Adchini,2.2
2571,Chateau,"Mediterranean, Italian",1600,Adchini,4.0
2572,Nariyal Cafe,"Continental, Seafood, Goan, Andhra, Kerala, Thai",1200,Adchini,4.2
2573,Rustom's Parsi Bhonu,Parsi,1500,Adchini,4.2
2574,BarShala,Finger Food,600,"Aditya Mega Mall, Karkardooma",3.2
2575,Chawla's_,"North Indian, Mughlai",800,"Aditya Mega Mall, Karkardooma",3.4
2576,Domino's Pizza,"Pizza, Fast Food",700,"Aditya Mega Mall, Karkardooma",2.8
2577,Sultanat,"North Indian, Chinese, Continental",1000,"Aditya Mega Mall, Karkardooma",3.7
2578,Bella Italia,"Fast Food, Italian, Pizza",550,Aerocity,3.2
2579,Clever Fox Cafe,"North Indian, Continental, Chinese",900,Aerocity,3.2
2580,365 Naturals,"Continental, North Indian, Fast Food, Street F...",600,Aerocity,0.0
2581,Tpot,Cafe,800,Aerocity,0.0
2582,4 on 44 Restaurant & Bar,"North Indian, Chinese",1000,"Aggarwal City Mall, Pitampura",2.6
2583,Rambhog,"Street Food, Mithai",200,"Aggarwal City Mall, Pitampura",3.3
2584,Selfie Lounge Restro & Bar,"North Indian, Chinese",1500,"Aggarwal City Mall, Pitampura",3.2
2585,BTW,"Street Food, South Indian, Mithai",400,"Aggarwal City Plaza, Rohini",3.4
2586,Chilli Pepper,"North Indian, Chinese",900,"Aggarwal City Plaza, Rohini",3.3
2587,Pizza Hut,"Italian, Pizza, Fast Food",1000,"Aggarwal City Plaza, Rohini",2.6
2588,Puri Bakers,"Bakery, Fast Food",300,"Aggarwal City Plaza, Rohini",3.7
2589,Jaiveer Naan & Chaap,"North Indian, Fast Food",500,"Aggarwal City Plaza, Rohini",2.2
...,...,...,...,...,...
8003,Rhythm Restro-Bar,"Mughlai, Chinese, North Indian",1000,Yusuf Sarai,3.0
8004,Say Cheese,Fast Food,400,Yusuf Sarai,2.7
8005,Sona Restaurant,"North Indian, Mughlai",450,Yusuf Sarai,3.2
8006,Uraki,Asian,400,Yusuf Sarai,2.7
8007,Wah Ji Wah,North Indian,450,Yusuf Sarai,3.0
8008,Annapurna Sweets,"Mithai, Street Food",150,Yusuf Sarai,3.9
8009,Karnataka,"South Indian, North Indian, Chinese",500,Yusuf Sarai,3.7
8010,EDC Mania,Fast Food,150,Yusuf Sarai,0.0
8011,Faeem Chicken Corner,Mughlai,300,Yusuf Sarai,0.0
8012,Grills N Chills,Fast Food,350,Yusuf Sarai,0.0
8013,Gupta Sweets,"North Indian, South Indian, Mithai",300,Yusuf Sarai,0.0
8014,Khub Chand,Raw Meats,300,Yusuf Sarai,0.0
8015,OCD - Online Cake Delivery,"Bakery, Desserts",200,Yusuf Sarai,0.0
8016,Sher E Punjab,North Indian,450,Yusuf Sarai,0.0
8017,Shri Balaji,South Indian,200,Yusuf Sarai,0.0
8018,Sidhi Cafe,"Street Food, Fast Food",100,Yusuf Sarai,0.0
8019,Al Hayat Bakers,Bakery,200,Zakir Nagar,0.0
8020,Al-Kausar's,Chinese,200,Zakir Nagar,0.0
8021,Alam Biryani Center,Biryani,200,Zakir Nagar,0.0
8022,Bismillah Hotel,Fast Food,150,Zakir Nagar,0.0
8023,Halal Pizza Star,"Pizza, Fast Food",450,Zakir Nagar,0.0
8024,HTW Bakers,"Bakery, Desserts",350,Zakir Nagar,0.0
8025,Javed Bawarchi Restaurant,Mughlai,600,Zakir Nagar,0.0
8026,Let's Eat,"Fast Food, Beverages",200,Zakir Nagar,0.0
8027,Moonis Kada,"Mughlai, North Indian",500,Zakir Nagar,0.0
8028,Motu N Patlu,"Lebanese, North Indian, Fast Food",250,Zakir Nagar,0.0
8029,S.K. Fast Food,Chinese,350,Zakir Nagar,0.0
8030,Sufiyan Restaurant,Mughlai,250,Zakir Nagar,0.0
8031,The Relax Point,North Indian,250,Zakir Nagar,0.0
8032,Zareen's Dastarkhwan,Awadhi,800,Zakir Nagar,0.0

In [43]:
data_minimal['Locality'].value_counts(dropna=False)

Connaught Place               122
Rajouri Garden                 99
Shahdara                       87
Defence Colony                 86
Pitampura                      85
                             ...
Centaur Hotel, Aerocity         1
Mansingh Road                   1
JW Marriott New Delhi           1
Tilak Marg                      1
Piccadily Hotel, Janakpuri      1
Name: Locality, Length: 254, dtype: int64

In [50]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

data_sample=[]
def restaurant_recommendation(location, title):
    global data_sample       
    global cosine_sim
    global sim_scores
    global tfidf_matrix
    global corpus_index
    global feature
    global rest_indices
    global idx
    
    data_sample=data_minimal.loc[data_minimal['Locality']==location]
    data_sample.reset_index(level=0, inplace=True)
    data_sample['Split']="X"
    for i in range(0, data_sample.index[-1]):
        split_data=re.split(r'[,]', data_sample['Cuisines'][i])
        for k,l in enumerate(split_data):
            split_data[k]=(split_data[k].replace(" ", ""))
        split_data=' '.join(split_data[:])
        data_sample['Split'].iloc[i]=split_data
    tfidf=TfidfVectorizer(stop_words='english')
    data_sample['Split']=data_sample['Split'].fillna('')
    tfidf_matrix=tfidf.fit_transform(data_sample['Split'])
    tfidf_matrix.shape
    feature=tfidf.get_feature_names()
    
    cosine_sim=linear_kernel(tfidf_matrix, tfidf_matrix)
    corpus_index=[n for n in data_sample['Split']]
    indices=pd.Series(data_sample.index, index=data_sample['Restaurant Name']).drop_duplicates()
    idx=indices[title]
    sim_scores=[]
    for i,j in enumerate(cosine_sim[idx]):
        k=data_sample['Aggregate rating'].iloc[i]
        if j != 0 :
            sim_scores.append((i,j,k))
    sim_scores = sorted(sim_scores, key=lambda x: (x[1],x[2]) , reverse=True)
    sim_scores = sim_scores[0:10]
    
    rest_indices=[i[0] for i in sim_scores]
    data_x=data_sample[['Restaurant Name','Aggregate rating']].iloc[rest_indices]
    data_x['Cosine Similarity']=0
    for i,j in enumerate(sim_scores):
        data_x['Cosine Similarity'].iloc[i]=round(sim_scores[i][1],2)
   
    return data_x

restaurant_recommendation('Connaught Place', 'KFC')

C:\Users\taghos\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\taghos\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\taghos\AppData\Local\Continuum\anaconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\taghos\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:202: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

                      Restaurant Name  Aggregate rating  Cosine Similarity
44                                KFC               3.7               1.00
107                    Johnny Rockets               4.0               0.78
83                  The Rolling Joint               3.9               0.62
8                 Indian Coffee House               3.3               0.62
58                Nizam's Kathi Kabab               3.8               0.54
75                             Subway               3.5               0.54
108                      Odeon Social               4.1               0.49
93                        38 Barracks               4.4               0.48
86                     Warehouse Cafe               3.7               0.45
82   The Luggage Room Kitchen And Bar               3.5               0.44